# Keil build outputs
**/Objects/
**/Listings/

# Keil user-specific files
**/*.uvguix.*
**/*.uvoptx

# Common temporary files
*.bak
*.tmp
*.log

# Local temp folders
**/99_临时文件/

# Python cache
**/__pycache__/
**/*.pyc
